<div class="container">
  <div class="row add-role-profile">
  <div class="col s6 center">
<h4>User Active Role</h4> 
      {{{getUserRoles user.roles}}}
  <br>
 <br>

  <form method="post" action="/admin/addRole/{{user._id}}">
  <h5>Add Role to {{user.firstname}} {{user.lastname}}</h5>
  <br>
    {{!-- <input type="checkbox" name="role" id="male">User --}}
    {{#each roles}}
     <p>
      <label>
        <input type="radio" class="filled-in" name="role" value="{{role}}"/>
        <span>{{role}}</span>
      </label>
    </p>
    {{/each}}
   {{!-- {{getRoleList}} --}}
    <input type="submit" class="btn waves-effect " value="Add Role">
  </form>
  </div>
  <div class="col s6">
    <h5 class="center-align blue-grey-text m4">User Profile</h5>
      <div class="center">
        <img src="../../../../../images/{{user.profileImage}}" class="imgClass" >
        <h6>Name : {{user.firstname}} {{user.lastname}}</h6>
        <h6>Email : {{user.email}}</h6>
        <h6>Phone : {{user.phone}}</h6>
      </div>
     
  </div>
</div>

   {{#if error}}
    <p class="red-text center">{{error}}</p>
    {{/if}}
</div>


  
 
